:root {
  --color: #00acac;
}

.cabecera {
  background: var(--color);
}

.articulo__entradilla {
  color: var(--color);
}

.articulo__cuerpo > p:first-child::first-letter {
  color: var(--color);
}

.imagen-circulo,
.imagen-hexagono {
  --color: rgb(237, 160, 52);
  background: var(--color);
}

@media (max_width: 37.5rem) {
  :root {
    color: var(--color);
  }
}
